h2{
  Color: rgb(1, 1, 37);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 50px;
  padding-top: 30px;
  padding-left: 60px;
}

.calc{
  height: 50vh;
  width: 25vw;
  border: 2px black;
  margin-top: 150px;
  margin-left: 500px;
  background-color: rgb(245, 243, 243);
}